<div class = "container">

  <h1>To-do List</h1>

<hr>
  <form>
    <div class="form-group">
      <label for="tarefa">Tarefa</label>
      <input type="email" class="form-control" id="tarefa" placeholder="Insira uma tarefa" ngModel name="tarefa">
      <small id="MensagemDeErro" class="form-text text-danger">Campo Requerido</small>
    </div>
    
    
    <button id="BotaoEnviar" type="submit" class="btn btn-primary">Adicionar</button>
  </form>

  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tarefa</th>
        <th scope="col">Concluída</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nicollas</td>
        <td><input id="meuCheckbox" type="checkbox"></td>
        <td><button class="btn btn-danger btn-sm">Deletar</button></td>
      </tr>
    </tbody>
  </table>
</div>